---
import { Card } from '@heroui/react';
import { getCollection, render } from 'astro:content';

import ScheduleSection from '../components/sections/ScheduleSection.astro';
import Prose from '../components/ui/Prose.astro';
import SectionHeading from '../components/ui/SectionHeading.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const [siteEntry] = await getCollection('site');
const [navigationEntry] = await getCollection('navigation');
const [programPage] = await getCollection('pages', ({ id }) => id === 'program');
const schedule = await getCollection('schedule');
const { Content } = await render(programPage);
---

<BaseLayout
  description={programPage.data.description}
  navigationEntry={navigationEntry}
  siteEntry={siteEntry}
  title={`${programPage.data.title} | TPM 2026`}
>
  <section class="space-y-5">
    <SectionHeading eyebrow="TPM 2026" title={programPage.data.title} description={} />
    <!-- <Card className="px-5 py-6 sm:px-6" variant="default"> -->
    <Prose>
      <Content />
    </Prose>
    <!-- </Card> -->
  </section>

  <ScheduleSection schedule={schedule} />
</BaseLayout>
